.wp-block-button .wp-block-button__link, .wp-block-button.is-style-outline .wp-block-button__link {
  text-transform: initial;
}

.has-black-color,
.has-black-color:hover,
.wp-block-button .wp-block-button__link:hover {
  border-color: var(--mlt-colour-secondary) !important;
}
  
.has-black-background-color {
  background-color: var(--mlt-colour-secondary) !important;
}

.wpuf-button,
.wpuf-submit-button,
.btn,
#wp-submit {
  border-style: solid !important;
  border-width: 2px;
  border-color: var(--mlt-colour-secondary) !important;
  background-color: var(--mlt-colour-secondary) !important;
  color: var(--mlt-colour-primary) !important;
  padding: var(--mlt-spacing-md) var(--mlt-spacing-lg) !important;
  border-radius: 100px !important;;
  font-weight: bold !important;
  text-decoration: none !important;
  cursor: pointer;


  &:hover {
    background-color: var(--mlt-colour-primary) !important;
    color: var(--mlt-colour-secondary) !important;
    font-weight: bold;
  }
}