body ul.wpuf-form li {
  padding: 0 !important;
}

body ul.wpuf-form li .wpuf-label {
  float: none !important;
}

.wpuf-fields,
.wpuf-fields .textfield,
.wpuf-fields input {
  width: 100% !important;
}

.wpuf-fields .textfield,
.wpuf-fields input {
  padding: var(--mlt-spacing-md) !important;
  border-radius: var(--mlt-border-radius-small);
  border: var(--mlt-colour-accent-dark) 1px solid;
}