.header_inner {
  margin: 0 auto;
  padding: 0 var(--mlt-spacing-lg);
}

.header_bottom {
  padding: 0;
}

@media only screen and (max-width: 1024px) {
  .mobile_menu_button {
    display: none;
  }

  .logo_wrapper {
    left: 0;
  }

  .q_logo a {
    left: 0;
  }
  
  .header_bottom_right_widget_holder {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .header_bottom {
    padding: 0;
  }

  .header_bottom .container_inner,
  .header_bottom .logo_wrapper {
    padding: var(--mlt-spacing-lg) 0;
  }

  .side_menu_button {
    display: none;
  }

  .header_inner {
    max-width: var(--mlt-max-width);
  }
}