@media only screen and (max-width: 1000px) {
  .mobile_menu_button {
    display: none;
  }

  .logo_wrapper {
    left: 0;
  }

  .q_logo a {
    left: 0;
  }
  
  .header_bottom_right_widget_holder {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .header_bottom {
    padding: 0;
  }

  .header_bottom .container_inner,
  .header_bottom .logo_wrapper {
    padding: 2rem 0;
  }

  .side_menu_button {
    display: none;
  }

  .header_inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}