/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("../bridge/style.css");

:root {
  --mlt-max-width: 1140px;
  --mlt-breakpoint-mobile: 768px;
  --mlt-breakpoint-desktop: 1024px;
  --mlt-breakpoint-large: 1400px;

  /* Spacing */
  --mlt-spacing-xs: 0.25rem;
  --mlt-spacing-sm: 0.5rem;
  --mlt-spacing-md: 1rem;
  --mlt-spacing-lg: 1.5rem;
  --mlt-spacing-xl: 2rem;
  --mlt-spacing-xxl: 4rem;

  /* Colours */
  --mlt-colour-primary: #5A0CE4;
  --mlt-colour-secondary: #41C1C5;
  --mlt-colour-tertiary: #E98DFC;
  --mlt-colour-text: #333;
  --mlt-colour-accent-dark: #ddd;
  --mlt-colour-accent-light: #f9f9f9;

  /* Fonts */
  --mlt-font-size-body: 1rem;


  /* Borders */
  --mlt-border-radius-small: 4px;
  --mlt-border-radius-medium: 8px;
  --mlt-border-radius-large: 100px;
}

.container_inner {
  width: 100%;
}

.container_inner.page_container_inner {
  padding: 0 !important;
}

body {
  color: var(--mlt-colour-text);
}

.mlt-body a,
.mlt-body a:hover {
  text-decoration: underline;
  color: var(--mlt-colour-text);
}

body.logged-in .logged-out {
  display: none;
}

body:not(.logged-in) .logged-in {
  display: none;
}