/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("../bridge/style.css");
@import url("./buttons.css");
@import url("./header.css");



@media only screen and (max-width: 1000px) {
  .footer_bottom_holder .footer_bottom ul.menu li a {
    font-size: 12px;
  }
}


