/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("../bridge/style.css");

:root {
  --mlt-max-width: 1140px;
  

  /* Spacing */
  --mlt-spacing-xs: 0.25rem;
  --mlt-spacing-sm: 0.5rem;
  --mlt-spacing-md: 1rem;
  --mlt-spacing-lg: 2rem;
  --mlt-spacing-xl: 4rem;

  /* Colours */
  --mlt-colour-primary: #F1EDE6;
  --mlt-colour-secondary: #2F2E41;
  --mlt-colour-accent-dark: #ddd;

  /* Fonts */
  --mlt-font-size-caption: 0.75rem;
  --mlt-font-size-body: 1rem;


  /* Borders */
  --mlt-border-radius-small: 4px;
  --mlt-border-radius-large: 100px;
}

.container_inner {
  width: 100%;
}

.container_inner.page_container_inner {
  padding: 0 !important;
}

body {
  color: var(--mlt-colour-secondary);
}

.mlt-body a,
.mlt-body a:hover {
  text-decoration: underline;
  color: var(--mlt-colour-secondary);
}

@media only screen and (max-width: 1000px) {
  .footer_bottom_holder .footer_bottom ul.menu li a {
    font-size: var(--mlt-font-size-caption);
  }
}

body.logged-in .logged-out {
  display: none;
}

body:not(.logged-in) .logged-in {
  display: none;
}